%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %td{colspan:4}
        %b Feeds List          
        .pull-right
          .btn-group
            = link_to 'New Feed', new_feed_path, class: 'btn btn-success'
          .btn-group
            = link_to refresh_feeds_path, class: 'btn' do
              Refresh All
    %tr
      %th Title
      %th Last updated
      %th Refresh Interval
      %th Actions
  %tbody
    - @feeds.each do |feed|
      %tr
        %td= link_to feed.title, feed
        %td
          %time.timeago{ datetime: feed.updated_at.iso8601 }= feed.updated_at.strftime('%Y-%m-%d %l:%M%P')
        %td= feed.refresh_interval / 60
        %td
          .btn-group
            = link_to 'Stats', stats_feed_path(feed), class: 'btn'
            = link_to 'Edit', edit_feed_path(feed), class: 'btn'
            = link_to 'Refresh', refresh_feed_path(feed), class: 'btn btn-primary'
            = link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
        
.chart    
  = line_chart stats_feeds_path(format: :json), library: { title: 'Posts per hour', hAxis: { title: 'Time' }, vAxis: { title: 'Posts' } }