%ul.nav.nav-list.well.well-small.feed-nav.feed-sidebar
  %li.nav-header Feeds
  %li
    = link_to refresh_url(feed_id: nil) do
      All feeds
      - if signed_in?
        #refresh.badge.pull-right
          0 unread
  / , data: { track_history: true }
  - Feed.order('title ASC').each do |feed|
    - logger.info "#{params[:feed_id]} == #{feed.id}"
    %li{ id: dom_id(feed, :sidebar), class: (params[:feed_id].to_i == feed.id ? 'active' : '') }
      = link_to refresh_url(feed_id: feed), title: feed.title, data: { track_history: true } do
        %i.icon-rss
        = feed.title
%br/
- if signed_in?
  %ul.nav.nav-list.well.well-small.feed-nav
    %li.nav-header
      Filters
    %li
      = link_to refresh_url(liked: params[:liked] != 'true'), data: { track_history: true } do
        - if params[:liked].present? and params[:liked] == "true"
          %i.icon-star.likeable
        - else
          %i.icon-star-empty.likeable
        Liked
    %li
      = link_to refresh_url(:read => params[:read] != 'true'), data: { track_history: true } do
        - if params[:read].present? and params[:read] == "true"
          %i.icon-envelope
        - else
          %i.icon-envelope-alt
        Read      
  %br/