- content_for :sidebar do
  %ul.nav.nav-list.well.well-small.feed-nav
    %li.nav-header Feeds
    %li= link_to 'All Feeds', root_url
    - Feed.order('title ASC').each do |feed|
      %li{ class: (@feed and @feed.id == feed.id ? 'active' : '') }
        = link_to feed_entries_path(feed), title: feed.title do
          %i.icon-rss
          = feed.title
  %br/
  - if signed_in?
    %ul.nav.nav-list.well.well-small.feed-nav
      %li.nav-header
        Filters
      %li
        = link_to url_for(liked: !(params[:liked] == 'true')) do
          - if params[:liked].present? and params[:liked] == "true"
            %i.icon-star.likeable
          - else
            %i.icon-star-empty.likeable
          Liked posts
    %br/

.entries= render @entries
- unless @entries.empty?
  = render 'shared/more_entries'