!!!
%html
  %head
    %title RubyReader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick", "application"
    = csrf_meta_tags
  %body
    = render 'layouts/analytics'
    #header
      = render 'layouts/header'
    #content.container
      .page-alert
        = show_flash_messages
      .row-fluid
        .span3.padded-content
          #sidebar
            / .affix{ data: { spy: "affix", "offset-top"=> 0 } }        
            .page-sidebar= yield :sidebar
            = render 'layouts/sidebar'
        .span9.padded-content
          = yield