!!!
%html
  %head
    %title RubyReader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick", "application"
    = csrf_meta_tags
  %body
    #header.navbar.navbar-fixed-top
      .navbar-inner
        .container{style: 'padding-left: 20px;'}
          = link_to root_url, class: 'brand' do
            %i.icon-coffee
            Ruby Reader
    #content.container
      .row-fluid
        .span3
          .padded-content
            #sidebar.affix{ data: { spy: "affix", "offset-top"=> 0 } }
              %ul.nav.nav-list.well.well-small.feed-nav
                %li.nav-header Feeds
                %li= link_to 'All Feeds', root_url
                - Feed.order('title ASC').each do |feed|
                  %li{ class: (@feed and @feed.id == feed.id ? 'active' : '') }
                    = link_to feed do
                      %i.icon-rss
                      = feed.title
              %br/
              %ul.nav.nav-list.well.well-small.feed-nav
                %li.nav-header
                  Manager
                %li= link_to 'Edit Feeds', feeds_path
        .span9
          .padded-content
            = yield
      #footer