!!!
%html
  %head
    %title RubyReader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'RubyReader', root_url, class: 'brand'
          .pull-right
            .btn-group
              = link_to root_url, class: 'btn' do
                View all
            .btn-group
              = link_to feeds_path, class: 'btn' do
                Feeds
    .container{style: 'margin-top: 50px;'}
      = yield
